127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
127.0.1.1 host2 host2
192.168.56.240  host1.test.local host1
192.168.56.241  host2.test.local